DOCKERHUB_USERNAME=your-dockerhub

SPRING_DATASOURCE_URL=jdbc:postgresql://10.0.2.125:5432/todo_db
SPRING_DATASOURCE_USERNAME=todo_user
SPRING_DATASOURCE_PASSWORD=password

SPRING_PROFILES_ACTIVE=prod
